body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text-primary);
  box-sizing: border-box;
}

.txt-primary {
  color: var(--text-primary);
}

.txt-secondary {
  color: var(--text-secondary);
}

.txt-danger {
  color: var(--text-error);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.input {
  padding: 10px 10px;
  border: 1px solid var(--background);
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.btn {
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin: 2px;
}

.btn-primary {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid #fff;
}
