/**************flex*************/

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

/**************flex direction*************/
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/**************justify content*************/
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/**************align items*************/
.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-stretch {
  align-items: stretch;
}

/**************gap*************/
.gap-0 {
  gap: 0;
}

.gap-0-5 {
  gap: 0.5rem; /* 8px */
}

.gap-1 {
  gap: 1rem; /* 16px */
}

.gap-1-5 {
  gap: 1.5rem; /* 24px */
}

.gap-2 {
  gap: 2rem; /* 32px */
}

/**************flex wrap*************/
.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

/**************flex grow / shrink*************/

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.flex-none {
  flex: none;
}

/**************margin*************/
.m-0 {
  margin: 0;
}

.m-0-5 {
  margin: 0.5rem;
} /* 8px */
.m-1 {
  margin: 1rem;
} /* 16px */
.m-1-5 {
  margin: 1.5rem;
} /* 24px */
.m-2 {
  margin: 2rem;
} /* 32px */
.m-3 {
  margin: 3rem;
} /* 48px */

.mt-0 {
  margin-top: 0;
}

.mt-0-5 {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-1-5 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-0-5 {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-1-5 {
  margin-bottom: 1.5rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.pt-2 {
  padding-top: 2rem;
}
.pb-2 {
  padding-bottom: 2rem;
}

.p-2 {
  padding: 2rem;
}

.p-1 {
  padding: 1rem;
}

/**************width and height *************/

.w-auto {
  width: auto;
}

.w-0 {
  width: 0;
}
.w-1 {
  width: 1rem;
} /* 16px */
.w-2 {
  width: 2rem;
} /* 32px */
.w-4 {
  width: 4rem;
} /* 64px */
.w-8 {
  width: 8rem;
} /* 128px */
.w-16 {
  width: 16rem;
} /* 256px */
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.min-w-0 {
  min-width: 0;
}
.max-w-full {
  max-width: 100%;
}
.h-auto {
  height: auto;
}

.h-0 {
  height: 0;
}
.h-1 {
  height: 1rem;
}
.h-2 {
  height: 2rem;
}
.h-4 {
  height: 4rem;
}
.h-8 {
  height: 8rem;
}
.h-16 {
  height: 16rem;
}
.h-25 {
  height: 25%;
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}
.h-100 {
  height: 100%;
}
.h-25 {
  height: 25%;
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}
.h-100 {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.min-h-screen {
  min-height: 100vh;
}
.size-1 {
  width: 1rem;
  height: 1rem;
}
.size-2 {
  width: 2rem;
  height: 2rem;
}
.size-4 {
  width: 4rem;
  height: 4rem;
}
.size-8 {
  width: 8rem;
  height: 8rem;
}

.text-center {
  text-align: center;
}

.rounded-none {
  border-radius: 0;
}
.rounded-sm {
  border-radius: 0.25rem;
} /* 4px */
.rounded {
  border-radius: 0.5rem;
} /* 8px */
.rounded-md {
  border-radius: 0.75rem;
} /* 12px */
.rounded-lg {
  border-radius: 1rem;
} /* 16px */
.rounded-xl {
  border-radius: 1.5rem;
} /* 24px */
.rounded-2xl {
  border-radius: 2rem;
} /* 32px */
.rounded-3xl {
  border-radius: 3rem;
} /* 48px */
.rounded-full {
  border-radius: 9999px;
} /* Fully circular */

.text-xs {
  font-size: 0.75rem;
} /* 12px */
.text-sm {
  font-size: 0.875rem;
} /* 14px */
.text-base {
  font-size: 1rem;
} /* 16px */
.text-md {
  font-size: 1.125rem;
} /* 18px */
.text-lg {
  font-size: 1.25rem;
} /* 20px */
.text-xl {
  font-size: 1.5rem;
} /* 24px */
.text-2xl {
  font-size: 2rem;
} /* 32px */
.text-3xl {
  font-size: 3rem;
} /* 48px */

.text-center {
  text-align: center;
}
